 body{
    margin: 0;
    padding: 0;
  }
    h1{
      font-size: 30px;
      margin-top: 150px;
      color: black;
    }
    section{
      padding-top: 20px;
      
      margin-top: 10px;
      
    }
    main{
      padding-top: 100px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 450px;
      background: linear-gradient(135deg, white 0%,greenyellow 500%);
      width: 80%;
      height: auto;
      margin-left: 20px;
      line-height: 2;
      font-family: 'Aleo', serif;
    }
    article{
    text-align: center;
   background: linear-gradient(200deg,white 0%, greenyellow 200%);
   font-size: 16.0px;
  }
  button{
    width: 200px;
    height: 48px;
    border: none;
    background: yellowgreen;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 25px;
    }
  img{
    width:300px ;
    height: 222px;
    margin-left: 5px;
    margin-top: 35px;
  }
  #payment_img{
        width:300px ;
    height: 281px;
    margin-left: 5px;
    margin-top: 35px;
  }
  #hooray_img{
    width: 300px;
    height: 300px;
    margin-left: 5px;
    margin-top: 35px;
  }