 #MOTHER_TOP{
  height: 50px;
    border: none;
    width: 100%;
    background: linear-gradient(200deg, white 10%, greenyellow 200%);
    display: flex;
    position: fixed;
    top: 0;
    box-shadow: -1px 0.01px 3.50px 0px rgba(0,255,0,0.2);
    overflow: hidden;
  }
  #LOGO_NAME{
    
    color: green;
    font-family: 'Aleo' , serif;
    font-size: 26px;
    opacity: 0.7;
    
    
  }
  .a{
   
    
  }
  #CHILD{
    margin-top: 10px;
    margin-right: 10px;
    
  }
  #CHILD3{
    position: fixed;
    right: 5px;
    z-index: 1;
    margin-top: 10px;
  }
  #NAVBAR_ICON{
    width: 35px;
    height: 35px;
  }
  #LEAV_LOGO{
    width: 35px;
    height: 35px;
    position: relative;
  
    margin-top: 5px;
    margin-left: 5.2px;
    z-index: -1;
  }
   #FOOTER_EXP{
    position: absolute;
    bottom: 0;
    height: 400px;
    background: #182145;
    width: 100%;
    align-content: center;
    display: flex;
    color: rgba(255,255,255,0.6);
  }
  #CONTAINER_SPAN{
    width: 30%;
    border: none;
    height: auto;
    position: absolute;
    right: 150px;
   bottom: 10px;
   align-items: center;
   text-align: center;
   line-height: 2;
  }
  #DISCRIPT{
    text-align: center;
    margin-top: 40px;
    margin-right: 10px;
    
  }
  #FOOTER_LOGO{
    margin-left: 20px;
    position: absolute;
    bottom: 360px;
    
  }
  #LOGO_{
  width: 30px;  
  height: 30px;
  padding-top: 10px;
  }
  #logo{
   padding-left: 5.0px;
     position: absolute;
    bottom: 10px;
  }
 